<div class="snippet-explanation" style="width: 100%;">
  <h3>We Feel Foreverness</h3>
  <p>In Oh Brendan, foreverness is common, and also the cycle of life.</p>
</div>

<figure class="code" style="width: 445px; float: left;">
  <figcaption>John Milton in Comus : A Mask (1634)</figcaption>
  <pre><code>Yet some there be that by due steps aspire
To lay thir just hands on that golden key
That opes the palace of Eternity.
To such my errand is; and but for such,
I would not soil these pure ambrosial weeds
With the rank vapours of this sin-worn mould.</code></pre>
</figure>
<figure class="code" style="width: 445px; float: right;">
  <figcaption>Petrarch, Triumph of Eternity</figcaption>
  <pre><code>Those spacious regions where our fancies roam,
Pain'd by the past, expecting ills to come,
In some dread moment, by the fates assign'd,
Shall pass away, nor leave a rack behind;
And Time's revolving wheels shall lose at last
The speed that spins the future and the past:
And, sovereign of an undisputed throne,
Awful eternity shall reign alone.</code></pre>
</figure>