<div class="java-interop-wrapper" style="width: 500px">
<figure class="code java-interop1" style="margin-top: 20px;">
  <figcaption>Paul H. Hayne, Sonnet IX</figcaption>
  <pre><code>Happy the heart that keeps its twilight hour,
And, in the depths of heavenly peace reclined,
Loves to commune with thoughts of tender power,—
Thoughts that ascend, like angels beautiful,
A shining Jacob's-ladder of the mind!</code></pre>
</figure>
<figure class="code java-interop2" style="margin-top: 10px;">
  <figcaption>John G. Zimmerman</figcaption>
  <pre><code>Profound meditation in solitude and silence frequently 
exalts the mind above its natural tone, fires the 
imagination, and produces the most refined and sublime 
conceptions. The soul then tastes the purest and most 
refined delight, and almost loses the idea of existence 
in the intellectual pleasure it receives. The mind on 
every motion darts through space into eternity; and 
raised, in its free enjoyment of its powers by its own 
enthusiasm, strengthens itself in the habitude of 
contemplating the noblest subjects, and of adopting 
the most heroic pursuits.</code></pre>
</figure>
</div>

<div class="snippet-explanation" style="width: 370px;">
<h3>Unique and Friendly Host</h3>
<p>Brendan is friendly. He is a knowledge lover just like you. Feel free to walk around and please make it your home.</p>
<p>
This is a <code>Happy</code> place, a place full of <code>Thoughts</code>. Please feel the <code>Loves</code> and try to walk around in the Land of Freedom.
</p></div>
