<figure class="code type-inference" style="width: 450px; margin-top: 20px;">
  <figcaption>Stanzas on Freedom</figcaption>
  <pre><code>Is true Freedom but to break
Fetters for our own dear sake,
And, with leathern hearts, forget
That we owe mankind a debt?
No! true freedom is to share
All the chains our brothers wear,
And, with heart and hand, to be
Earnest to make others free!</code></pre>
</figure>

<div class="snippet-explanation">
  <h3>Freedom is Just Around</h3>
<p>Oh Brendan is also known as the Land of Freedom. The ancient and mysterious technology allows it to be built with not many physical limitation.</p>
<p>Freedom is just around because you are where Oh Brendan is. <code>Quantum Mechanics</code> indicates that Oh Brendan exists in different <code>Spatial Dimensions</code> but in same <code>Time dimension</code>. That is where the freedom comes from.
</p></div>
