<figure class="code concurrency" style="width: 450px; margin-top: 20px;">
  <figcaption>Albert Einstein</figcaption>
  <pre><code>In the temple of science are many mansions, and 
various indeed are they that dwell therein and 
the motives that have led them thither. Many take 
to science out of a joyful sense of superior 
intellectual power; science is their own special 
sport to which they look for vivid experience and 
the satisfaction of ambition; many others are to 
be found in the temple who have offered the 
products of their brains on this altar for purely 
utilitarian purposes. Were an angel of the Lord 
to come and drive all the people belonging to 
these two categories out of the temple, the 
assemblage would be seriously depleted, but there 
would still be some men, of both present and past 
times, left inside. Our Planck is one of them, and 
that is why we love him. </code></pre>
</figure>

<div class="snippet-explanation">
  <h3>Research Time Will Never Be Over</h3>
<p>In Oh Brendan, we believe in exploration even if it may destroy the world.</p>
<p>Research makes <code>Advancement</code>. And <code>Advancement</code> makes a better world. A better world is the live of the Land of Freedom. And that is the reason why we treasure it so much.</p></div>
