<figure class="code pattern-matching" style="width: 500px; float: right;">
  <figcaption>Elizabeth Barrett Browning, Aurora Leigh (1856)</figcaption>
  <pre><code>Books, books, books!
I had found the secret of a garret room
Piled high with cases in my father's name;
Piled high, packed large,—where, creeping in and out
Among the giant fossils of my past,
Like some small nimble mouse between the ribs
Of a mastodon, I nibbled here and there
At this or that box, pulling through the gap,
In heats of terror, haste, victorious joy,
The first book first. And how I felt it beat
Under my pillow, in the morning's dark,
An hour before the sun would let me read!
My books!
At last, because the time was ripe,
I chanced upon the poets.</code></pre>
</figure>

<div class="snippet-explanation" style="width: 350px;">
  <h3>A Thousand Lives</h3>
<p>All citizens of Oh Brendan have their own interesting lives. They live a thousand lives because they meet interesting people and creatures. This is a beautiful place, where you must come and enjoy.</p>
<p>
We treasure others. We love sharing, and it gives us interesting lives. <code>Forever</code> is the way we feel about it.
</p></div>
