<ul class="nav">
  <li><a href="{{ site.baseurl }}/the-land/">The Land</a></li>
  <li><a href="{{ site.baseurl }}/labs/">Labs</a></li>
  <li><a href="{{ site.baseurl }}/people/">People</a></li>
  <li><a href="{{ site.baseurl }}/nature/">Nature</a></li>
  <li id="source-code" >
    <a href="https://github.com/ohbrendan/ohbrendan.github.io"><img src="{{ site.baseurl }}/resources/img/github-logo.png" alt="GitHub Logo" /></a>
    <div class="toptip">Source Code</div>
  </li>
  <li id="scala-lang-twitter">
    <a href="http://twitter.com/ahbrendan"><img src="{{ site.baseurl }}/resources/img/twitter-logo-white.png" alt="Twitter Logo" /></a>
    <div class="toptip">Brendan on Twitter</div>
  </li>
</ul>
